@tailwind base;
@tailwind components;
@tailwind utilities;


  

@keyframes text {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-text {
    animation: text 10s linear infinite;
  }

